<div>
    <h4>Clique nos modulos disponiveis e arraste-os para montar sua estante</h4>
</div>

<div id="configBox">
    <div class="new" data-bind="sortable: availableModules">
        <div class="module" data-bind="style: { height: height, width: width }, click: $parent.ui.actions.openConfigModal, css: { 'cor-verniz': color() == 'verniz', 'cor-branco': color() == 'branco', 'cor-madeira': color() == 'madeira' }">
            
            <h6 class="text-center" data-bind="text: description"></h6>
            
            <!-- ko if: door  -->
                <span class="label">Porta</span>
            <!-- /ko -->

             <!-- ko if: drawer  -->
                <span class="label">Gaveteiro</span>
            <!-- /ko -->

             <!-- ko if: shelf  -->
                <span class="label">Estante</span>
            <!-- /ko -->

        </div>
    </div>
</div>

<div id="containerModules">
    <div id="main" data-bind="foreach: slots">
        <div class="table">
            <span data-bind="text: modules.id"></span>
            <div class="seats" data-bind="sortable: { data: modules, allowDrop: $parent.isTableFull }, style: { width: width }">
                <!-- <div class="module" data-bind="text: description"></div> -->
                <div class="module" data-bind="text: description, style: { height: height, width: width }"></div>
            </div>
            <!-- <div class="count" data-bind="text: modules().length + '/' + $root.maximumModules, css: { ready: modules().length < $root.maximumModules }"></div> -->
        </div>
    </div>
</div>

<div id="extra">
</div>

<br>

<div id="message" class="alert" data-bind="flash: lastAction"></div>
<div id="error" class="alert alert-error" data-bind="flash: lastError"></div>

<div id="master" class="well">
   	<span>Módulos selecionados: </span>
    <!-- ko foreach: slots -->
        <!-- ko foreach: modules -->
        <span class="label" data-bind="text: description"></span>
        <!-- /ko -->
    <!-- /ko -->
</div>

<div class="" data-bind="visible: wasChanged()">
        <button data-bind="" class="btn btn-primary" type="submit">Salvar</button>
        <button data-name="dashboard" data-bind="click: actions.startModule" class="btn" type="button">Cancelar</button>
</div>


<!-- MODAL DE CONFIGURACAO DE MODULO -->

<div class="modal hide fade config-modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Configuração de Módulo</h4>
  </div>

    <div class="modal-body">

        <!-- ko if: selectedModule() -->

        <form class="form-horizontal">

          <div class="control-group">
            <label class="control-label">Largura</label>
            <div class="controls">
             <span class="label label-tamanho" data-bind="text: selectedModule().width"></span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Altura</label>
            <div class="controls">
               <span class="label label-tamanho" data-bind="text: selectedModule().height"></span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputHeight">Cor</label>
            <div class="controls">
                <select class="span3" id="tabela-de-frete" data-bind="options: $root.selectedScreen().availableColors(), optionsCaption: 'Selecione uma cor', value: selectedModule().color"></select>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" data-bind="checked: selectedModule().drawer"> Gaveteiro
              </label>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" data-bind="checked: selectedModule().door"> Porta
              </label>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" data-bind="checked: selectedModule().shelf"> Estante
              </label>
            </div>
          </div>

        </form>

        <!-- /ko -->

    </div>

</div>
