<div class="masthead">

        <div class="clearfix">
          <div class="pull-left">
            <h3 class="muted">G-Estantes</h3>
          </div>
          <div class="pull-right btn-home-carro">
            <a class="btn btn-small" href="#"><i class="icon-shopping-cart"></i> Suas Compras</a>
          </div>
        </div>
        
        
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Construa seu móvel</a></li>
                <li><a href="#">Modelo A</a></li>
                <li><a href="#">Modelo B</a></li>
                <li><a href="#">Modelo C</a></li>
                <li><a href="#">Modelo D</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->

      </div>
