/* general */
body,
label,
input[type="text"],
input[type="number"],
select,
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu{font-size:13px;}
.btn-small{font-size: 12px;}
.btn-mini{font-size: 11px !important;}
.btn-large{font-size: 16px;}
table{width:100%;}
.center{text-align:center !important;}
.no-margin-bottom{margin-bottom:0 !important;}
.no-margin-left{margin-left:0}
a {cursor: pointer;}
.no-link:hover{text-decoration: none;}
.bottom-space{margin-bottom:10px !important;}
.top-space{margin-top:5px;}
.icon-arrow-left{font-size:1.1em !important;margin-right:3px;margin-top:-3px;vertical-align:middle;}
.left-space{margin-left:5px}
.right-space{margin-right:5px}
.previous-page-link:hover{text-decoration:none;}


/* error */
.control-group.error .input-prepend input,
.control-group.error .input-append input{border-right-color:#ccc;}

/* no wrap */
.wrap{word-wrap:break-word;}

/* title menu/options */
h3 + .title-options{margin:20px 0 0 15px;}

/* loading */
.table-container{position:relative;min-height: 200px;}
.loader{background:#fff url('loader.gif') center center no-repeat;opacity:.9;position:fixed;left:0;top:0;height:100%;width:100%;z-index:1049;}
.loader-list{position: absolute;}

/* modal */

/* messages */
.msg-alert{cursor:pointer;left:50%;margin-left:-220px;opacity:.98;/*padding-top:38px;*/position:fixed;top:-80px;width:440px;z-index:9999999;}
.msg-close{margin:12px;}

/* titles */
h1.current-app{color:#999;font-size:16px;line-height:1;margin:0;text-transform:uppercase;}
h2{font-size:20px;margin-top:0;}
h3.large{font-size:26px;}

/* header */
.page-header{margin-bottom:20px;}

/* menu navbar */
.navbar-inner{margin-top:0;min-height:30px;padding:0;}
.navbar .nav > li > a{padding:6px 12px 4px;}

/* icons */
i[class^="icon-"],
i[class*=" icon-"]{background:none;color:#666;font-size:1.4em;}

a [class^="icon-"],
a [class*=" icon-"]{color:inherit;vertical-align: middle;}

th a [class^="icon-"],
th a [class*=" icon-"]{font-size:1em;}
a [class^="icon-"]:hover,
a [class*=" icon-"]:hover{text-decoration:none;}

.icon-question-sign{cursor:pointer;}

/* pagination */
.pagination{margin:0;margin-bottom: 10px;}
.pagination .items-per-page,
.pagination .page-input{margin:5px 25px 0 0;}

.pagination form{margin-right:30px;}

.pagination ul > li > a,
.pagination ul > li > span,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span{border:1px solid #DDD;padding:0 12px;}
.pagination ul > li > a,
.pagination ul > li > a i{line-height:20px;}

.pagination ul > li > a i{font-size:15px;height:22px;margin:5px 0 1px;}

.pagination input{margin:0 5px;text-align: center;width:35px;}

.pagination ul {display: inline;}






/* table */
.list-control form{margin-bottom:0;}
.list-control + table{margin-top:0;}
.table-clickable tbody tr{cursor:pointer;}
.table-clickable tbody tr:hover td,
.table-clickable tbody tr:hover th{background:#D9EDF7;}
.table-sticky thead th{background:#fff;}
.table-no-border tr td{border:none;}

/* table line hovered options */
.table-hover-options tr td,
.table-hover-options tr td div.item{position: relative;}
.table-hover-options tr td .item-options{position: absolute;right:0;top:0;}
.table-hover-options.table-condensed tr td .item-options{top:2px;}
.table-hover-options.table-condensed-form tr td .item-options{top:6px;}
.table-hover-options tr td .item-options a{visibility:hidden;}
.table-hover-options tr:hover td .item-options a,
.table-hover-options tr td .item-options.visible a{visibility:visible;}

/* dropdown */
.dropdown-large{text-align: left;}
.dropdown-large i{float: right;}

/* autocomplete */
/*.ui-menu{background: none !important;border: none !important;padding-top:30px !important;} */
.input-append .ui-autocomplete-input, .input-append .ui-autocomplete-input:focus { position: relative; z-index: 9999 }

.autocomplete-container{border:1px solid #ccc;border-top:0;border-radius:0 0 4px 4px;padding:8px;position:absolute;z-index: 10;}
.autocomplete-container .ui-autocomplete-input{width:332px !important;}
.autocomplete-container i.icon-search{margin-top:8px;opacity: .4;position: absolute;right:15px;}
.autocomplete-container .msg-results{font-size:.9em;margin-bottom:0;margin-top:6px;position:relative;z-index:11;}
.dropdown-toggle.open{border-bottom-color:#e6e6e6;border-radius:4px 4px 0 0;}

/* rounded button */
.btn-rounded{border-radius: 21px;padding:1px 4px;}
.btn-rounded i[class^="icon-"]{margin:4px 1px 2px 0;}

/* form actions */
.fixed-actions{margin-bottom: 90px;}
.form-actions{margin-left: -20px;width: 1170px;}
.form-actions-fixed{bottom:0;left:0;margin-left:0;margin-bottom:0;padding-left:0;position:fixed;width:100%;z-index:999;}

/* modal confirmation screen */
.confirmation{color:#fff;margin:0 auto;margin-top:-20%;text-align:center;width:100%;top:50%;z-index:1000;}
.confirmation-group,
.confirmation-overflow{top:0;}
.confirmation,
.confirmation-group,
.confirmation-overflow{position:absolute;width:100%;}
.confirmation-group,
.confirmation-overflow{height:100%;}
.confirmation-overflow{background:#000;opacity:.8;z-index:999;border-radius: 5px;}

.confirmation-group-white .confirmation{color:#333;}
.confirmation-group-white .confirmation-overflow{background:#fff;}

/* modal */
.modal-footer{text-align:left;}








.table {
    float: left !important;
    text-align: center !important;
    margin-right: 0px !important;
    width: auto !important;
    background-color: #CCC !important;
}

.table span {
    font-size: .75em;
}

.seats {
    /*border: dotted 1px #666;*/
    width: 30px;
    height: 130px;
    margin: 5px 1px 5px 0px;
    padding: 1px;
    vertical-align: bottom;
    display: table-cell;
/*    background-color: green;*/
/*    border-radius: 5px;*/
/*    box-shadow: 2px 2px 2px #999;*/
}

.ko_container {
    /*border: solid 3px green;*/
}

.module {
    background-color: #444;
    color: #fff;
    border-radius: 3px;
    margin: 0px 1px 1px 0px;
    padding: 0;
    /*padding: 2px;*/
    text-align: center;
    /*width: 30px;*/
    /*height: 35px;*/
    cursor: move;
    font-size: 0.6em;
    color: #DDD;
}

.new {
    border: solid 1px #444;
    background-color: #ccc;
    height: 250px;
    width: 185px;
    padding: 2px;
    border-radius: 5px;
}

.new div {
    float: left;
}

.mainTitle {
    font-size: 2.0em;
    letter-spacing: -2px;
}

.note {
    font-size: 1.1em;
    color: #888;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.count {
    color: #666;
}

.ready {
    color: green;
}

#containerModules {
    height: 150px;
    text-align: center;
    float: left;
    border: dashed 1px #666;
}

#configBox {
    clear: both;
    /*padding-top: 20px;*/
    float: left;
    margin-right: 20px;
}

#extra {
    clear: both;
    padding-top: 5px;
}

#master {
    /*margin-top: 40px;*/
}

#master table {
   /* font-size: .8em;
    /*border: solid 1px black;*/
    /*text-align: center;*/
}

#master th {
    /*color: #666;*/
}

#message, #error {
    /*font-size: .75em;
    margin-top: 10px;
    background-color: orange;
    color: #444;
    padding: 2px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #999;
    position: absolute;*/
}

#error {
    /*background-color: #ff3333;
    color: #ddd;*/
}



body {
    font-family: 'Source Sans Pro', sans-serif;
}

.label-tamanho {
    margin-top: 6px;
}

.form-horizontal .control-group {
    margin-bottom: 10px !important;
}

.cor-verniz {
    background-color: #e3b74d !important;
}

.cor-branco {
    background-color: #FFF !important;
}

.cor-madeira {
    background-color: #706343 !important;
}